<div class="d-flex flex-column giffy-app">
  <app-sidebar></app-sidebar>

  <div class="container">
    <div class="row p-3">
      <div class="col">
        <h5>Buscar:</h5>
        <input
          type="text"
          name=""
          class="form-control"
          placeholder="Buscar gifs..."
        />
      </div>

      <hr class="text-dark my-3" />

      <div class="row">
        <div class="col">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi nemo
            placeat nostrum consequuntur velit enim necessitatibus amet quia
            animi et magnam asperiores non sed ratione, cumque, optio harum est
            voluptates?
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
