<div class="d-flex flex-column giffy-app">
  <div class="bg-dark border-right p-3" id="sidebar">
    <h3 class="text-info">GiffyApp</h3>

    <hr class="text-primary" />

    <div class="list-group list-reset mt-4">
      <a href="#" class="list-group-item list-group-item-action">Dashboard</a>
    </div>
  </div>

  <div class="container">
    <div class="row p-3">
      <div class="col">
        <h5>Buscar:</h5>
        <input
          type="text"
          name=""
          class="form-control"
          placeholder="Buscar gifs..."
        />
      </div>

      <hr class="text-dark my-3" />

      <div class="row">
        <div class="col">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi nemo
            placeat nostrum consequuntur velit enim necessitatibus amet quia
            animi et magnam asperiores non sed ratione, cumque, optio harum est
            voluptates?
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
